button {
	background: transparent;
	border: none;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	color: var(--Text-color);
}
button:hover {
	transform: translateY(-1px);
	transition: all 0.2s;
}

button:focus,
button:focus-visible {
	color: var(--bright-blue);
}

button:hover {
	font-weight: bold;
}
