.list-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: white;
	border-radius: 5px;
	filter: drop-shadow(0px 0px 13px #b3adad);
}
.list-item {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: rgba(128, 128, 128, 0.42) solid 1px;
	padding: 10px 0px 10px 0px;
}

.checkbox {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row-reverse;
	margin: 10px 0px 10px 20px;
	font-size: 18px;
	cursor: pointer;
}

/* remove default radio button */
.checkbox input {
	display: none;
}

.checkbox span {
	position: relative;
	width: 25px;
	height: 25px;
	margin-right: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: solid rgba(128, 128, 128, 0.625) 1px;
}
.checkbox span:hover {
	border-radius: 50%;
	border-width: 1px;
	border: 2px solid transparent;
	background: linear-gradient(white, white) padding-box, linear-gradient(293deg, rgba(85, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%) border-box;
}

.checkbox input:checked + span {
	background: linear-gradient(293deg, rgba(85, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
}
.delete-button {
	visibility: hidden;
}
.list-item:hover .delete-button {
	visibility: visible;
	margin-right: 20px;
}
