#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	font-family: "Josefin Sans", serif;
}
body {
	background: url("./assets/images/bg-desktop-light.jpg");
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-position: top !important;
}

.container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-top: 10vh;
}

h1 {
	color: white;
	font-family: "Public Sans";
	font-weight: 700;
	font-size: 40px;
}

.controls-container {
}
