#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	font-family: "Josefin Sans", serif;
}
:root {
	--mobile-background-image: url("./assets/images/bg-mobile-light.jpg");
	--desktop-background-image: url("./assets/images/bg-desktop-light.jpg");
	/* COLORS */
	/* color mode === hsl(hue, saturation, lightness) */
	--bright-blue: hsl(220, 98%, 61%);
	--Background-color: hsl(0, 0%, 98%);
	--line-color: hsl(236, 33%, 92%);
	--CompletedText-color: hsl(233, 11%, 84%);
	--Text-color: hsl(220, 4%, 14%);
	--TodoText-color: hsl(235, 19%, 35%);
	--inputText-color: hsl(237, 14%, 26%);
	--body-color: hsl(0, 0%, 100%);
	--border-color: hsl(236, 33%, 92%);

	--shadow: 35px 50px -15px hsla(237, 20%, 80%, 0.5);

	transition: 0.2s;
}

[dark-theme="dark"] {
	--mobile-background-image: url("./assets/images/bg-mobile-dark.jpg");
	--desktop-background-image: url("./assets/images/bg-desktop-dark.jpg");
	--bright-blue: hsl(220, 98%, 61%);
	--Background-color: hsl(235, 21%, 11%);
	--line-color: hsl(237, 14%, 26%);
	--CompletedText-color: hsl(233, 14%, 35%);
	--Text-color: hsl(234, 11%, 52%);
	--TodoText-color: hsl(234, 39%, 85%);
	--inputText-color: hsl(234, 39%, 85%);
	--border-color: hsl(237, 14%, 26%);

	--body-color: hsl(235, 24%, 19%);

	--shadow: 35px 50px -15px hsla(0, 0%, 0%, 0.5);

	transition: 0.2s;
}

body {
	background: var(--desktop-background-image) var(--body-color);
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-position: top !important;
}

.container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-top: 10vh;
	color: var(--Text-color);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

h1 {
	color: white;
	font-family: "Public Sans";
	font-weight: 700;
	font-size: 40px;
}

.controls-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 20px 0px;
	background: --body-color;
	z-index: 100;
	border-radius: 5px;
}

.controls-container .filter-button-group {
	display: flex;
}

/* ---- Small (Phone) 375px ------ */
/* only screen and (max-width: 767px) */
@media (min-width: 375px) and (max-width: 767px) {
	.container {
		width: 80vw;
	}
	form {
		width: 80vw;
	}
	.delete-button {
		visibility: visible;
		margin-right: 20px;
	}
	.controls-container {
		display: flex;
		flex-flow: column;
	}
	.filter-button-group {
		order: 1;
		margin-top: 10px;
	}
}

/* ---- Medium (Tablet) 768px x 1024px ---- */
@media (min-width: 768px) and (max-width: 900px) {
	main {
		flex-direction: column;
		margin: 5% 5%;
	}
}
